{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">Детали</h1>
    </div>          

    <div class="row">
      <div class="card mx-auto o-hidden border-0 shadow-lg col-lg-6 text-lg">
        <div class="card-body">
            <h2>{{ event.name }}</h2>

            <p><strong>Тип: </strong> {{ event.event_type }} </p>

            <p><strong>Статус: </strong> {{ event.status }} </p>

            <p><strong>Дата начала: </strong> {{ event.start_date }} </p>

            <p><strong>Дата окончания: </strong> {{ event.end_date }} </p>

            {% if event.description %}
            <p><strong>Описание: </strong><br> {{ event.description }} </p>
            {% else %}
            <p><strong>Описание отсутствует</strong></p>
            {% endif %}

            {% if event.created_by %}
            <p><strong>Создал: </strong> {{ event.created_by }} ({{ event.created_by.first_name }} {{ event.created_by.last_name }})</p>
            {% else %}
            <p><strong>Создал: </strong> этот пользователь удален</p>
            {% endif %}

            <p><strong>Дата создания: </strong> {{ event.created_on }} </p>

            {% if event.responsible %}
            <p><strong>Ответственное лицо: </strong> {{ event.responsible }} </p>
            {% else %}
            <p><strong>Ответственное лицо: </strong> не назначено </p>
            {% endif %}

            <a href="{% url 'events:event-list' %}" class="btn btn-block  btn-primary shadow-sm">Вернуться к задачам</a>
            <a href="{% url 'events:event-update' event.slug %}" class="btn btn-block btn-info shadow-sm">Изменить</a>
            <a href="{% url 'events:event-delete' event.slug %}" class="btn btn-block btn-danger shadow-sm">Удалить</a>
        </div>
      </div>
    </div>
    
</div>
{% endblock content %}