{% extends "base.html" %}
{% block content %}

<style>
    #select-category select{
      width: 290px;
    }
  </style>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
      <h1 class="h3 mb-0 text-gray-800">Склад</h1>
      <div>
        <a href="{% url 'store:product-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Добавить</a>
        <a href="{% url 'store:category-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Добавить категорию</a>
      </div>
    </div>


    <form class='d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search' id="select-category" action="{% url 'store:product-search' %}" method="GET">
        <div class='input-group my-2'>
          <select name="type_product" id="">
            {% for type in types %}
            <option name='' value="{{ type.pk }}">{{ type.type_name }}</option>
            {% endfor %}
          </select>
        <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
      </div>
      </form>


    <!-- Main Content Here -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 text-lg font-weight-bold text-primary">Инвентаризация</h6>
        <div>
          <a href="{% url 'store:product-xls-report' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Отчет в Excel</a>
        </div>
      </div>

      
        
     

      <div class="card-body">
        <div class="table-responsive">
          <table class=" text-center table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Категория</th>
                <th>Производитель</th>
                <th>Модель</th>
                <th>Инвентарный номер</th>
                <th>S/N</th>
                <th>Добавил</th>
                <th>Изменить</th>
              </tr>
            </thead>
            <tbody class="">
            {% for product in products %}
              <tr>

                {% if product.type_product %}
                <td class="align-middle">{{ product.type_product }}</td>
                {% else %}
                <td class="text-danger align-middle">Не указано</td>
                {% endif %}

                <td class="align-middle">{{ product.manufacture }}</td>
                <td class="align-middle">{{ product.model }}</td>

                <td class="align-middle">{{ product.inventory_number }}</td>
                {% if product.serial.number %}
                <td class="align-middle">{{ product.serial_number }}</td>
                {% else %}
                <td class="text-danger align-middle">Не указано</td>
                {% endif %}

                <td class="align-middle">{{ product.created_by }}</td>

                <td><a class="my-1 btn-block btn btn-sm btn-danger" href="{% url 'store:product-delete' product.pk %}">Удалить</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    
  </div>
  <!-- /.container-fluid -->

  {% if page_obj.has_other_pages %}
  <div class="pagination">
      <div class="nav-links mx-auto">
        
        {% if page_obj.has_previous %}
            <a href="?{{ type_product }}page={{ page_obj.previous_page_number }}" class="btn btn-circle btn-light page-numbers"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
              <span class="page-numbers current btn-circle btn-success">{{ p }}</span>
            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
              <a href="?{{ type_product }}page={{ p }}" class="btn-circle btn-secondary page-numbers">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?{{ type_product }}page={{ page_obj.next_page_number }}" class="btn btn-circle btn-light page-numbers"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        {% endif %}

      </div>
  </div>
{% endif %} 

{% endblock content %}