{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
      <h1 class="h3 mb-0 text-gray-800">Компании</h1>
      <a href="{% url 'teams:company-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Добавить</a>
    </div>          

    <!-- Main Content Here -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Список компаний</h6>
      </div>

      
        
     

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr class="d-flex">
                <th class="col-5">Название</th>
                <th class="col-5">Адрес</th>
                <th class="col-2">Изменить</th>
              </tr>
            </thead>
            <tbody>
            {% for company in companies %}
              <tr class="d-flex ">
                <td class="d-flex col-sm-5 align-items-center justify-content-center"><a href="{% url 'teams:company-detail' company.slug %}">{{ company.name }}</a></td>
                <td class="d-flex col-sm-5 align-items-center justify-content-center">{{ company.address }}</td>
                <td class="d-flex col-sm-2 col-sm-2 align-items-center justify-content-between"><a class="btn btn-block btn-sm btn-info my-1 mx-1" href="{% url 'teams:company-update' company.slug %}">Изменить</a>   <a class="my-1 btn-block btn btn-sm btn-danger mx-1" href="{% url 'teams:company-delete' company.slug %}">Удалить</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    
  </div>
  <!-- /.container-fluid -->

{% include "paginator.html" %} 

{% endblock content %}