{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block content %}

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
              <h4 class="m-0 py-3 font-weight-bold text-center text-primary">Изменить:</h4>
        <div class="row">
          <div class="col-lg-12 align-self-center">
            <div class="p-4">
              <form autocomplete="off" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-success btn-block">Обновить</button>
                <a class="my-1 btn-block btn btn-danger" href="{% url 'teams:employee-delete' employee.pk %}">Удалить</a>
              </form>
              <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'teams:employee-list' %}">Назад</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}