{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  

  <title>ITSM-Plus CRM</title>

  <!-- Custom fonts for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  {% block head %}
    
  {% endblock head %}
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.svg' %}">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon">
          <img src="{% static 'images/logo.svg' %}" class="img-fluid img-circle" style="width: 90%;" alt="Logo">
        </div>
        <div class="sidebar-brand-text mx-3">ITSM-Plus <sup>Менеджмент</sup></div>
      </a>

       <!-- Divider -->
       <hr class="sidebar-divider">

       <p class="text-center text-white font-weight-bold">Добро пожаловать<br>{{user.first_name}} {{user.last_name}}</p>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'common:dialog' %}">
          <i class="fas fa-fw fa-comment"></i>
          <span>Чат</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'events:event-list' %}">
          <i class="fas fa-fw fa-calendar"></i>
          <span>Задачи</span></a>
      </li>


      <!-- Nav Item - Contact -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:company-list' %}">
          <i class="fas fa-fw fa-building"></i>
          <span>Компании</span></a>
      </li>
      
      <!-- Nav Item - Contact -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:contact-list' %}">
          <i class="fas fa-fw fa-users"></i>
          <span>Контакты</span></a>
      </li>


      

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Управление</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Components:</h6> -->
            <a class="collapse-item" href="{% url 'teams:employee-list' %}">Сотрудники</a>
            <a class="collapse-item" href="{% url 'change-password' %}">Сменить пароль</a>
            {% if request.user.is_superuser %}
            <a class="collapse-item" href="{% url 'admin:index' %}">Панель администратора</a>
            {% endif %}
          </div>
        </div>
      </li>


      <!-- Nav Item - storage -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store:product-list' %}">
          <i class="fas fa-fw fa-suitcase"></i>
          <span>Хранилище</span></a>
      </li>


      <!-- Nav Item - Profile -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teams:profile' %}">
          <i class="fas fa-fw fa-user"></i>
          <span>Профиль</span></a>
      </li>

      <!-- Nav Item - Logout -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-fw fa-sign-out-alt"></i>
          <span>Выход</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        {% include "messages.html" %}
        {% block content %}
          
        {% endblock content %}

      </div>

    </div>

  </div>

  {% block script %}
    
  {% endblock script %}

  {% include "scripts.html" %}
</body>
</html>
